<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Free restaurant info" />
    <meta name="theme-color" content="#db0000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <title>D'Besto Food</title>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
</head>

<body>
    <a href="#main-content" class="skip-link" tabindex="0">Menuju ke Konten</a>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1>Food D'Besto</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#/favorite">Favorites</a></li>
                <li><a href="https://github.com/arief-github">About Me</a></li>
            </ul>
        </nav>
    </header>
    <!-- hero image -->
    <!-- item -->
    <section class="resto" id="main-content" tabindex="0">
        <h2>Resto</h2>
        <p>Our Lists Resto</p>
        <div id="container">
        </div>
    </section>
    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="info">
                <div class="site">
                    <div>
                        <p class="name" tabindex="0">Food D'besto</p>
                    </div>
                </div>
                <p class="add" tabindex="0">
                    Made with 💖 by : <br>
                    Arief Kurniawan<br>
                    <i>Web Development Enthusiast</i>
                </p>
            </div>
            <ul class="sns">
                <li><a href="#"><img src="./images/heros/logo-twitter.svg" alt="Account Twitter"></a></li>
                <li><a href="#"><img src="./images/heros/logo-facebook.svg" alt="Account Facebook"></a></li>
                <li><a href="#"><img src="./images/heros/logo-instagram.svg" alt="Account Instagram"></a></li>
            </ul>
        </div>
    </footer>
</body>

</html>